* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  body {
    font-family: "Roboto", sans-serif;
    color: #fff;
  }
  
  #root {
    height: 100vh;
  
    .yf__top-header {
      height: 87px;
      background: #000;
      display: flex;
      align-items: center;
      position: fixed;
      width: 100%;
      z-index: 2;
  
      &.dashboard {
        position: initial;
      }
    }
    .button {
      width: 120px;
      height: 35px;
      border-radius: 4px;
      border: none;
      font-weight: bold;
      transition: 0.12s ease-in-out;
      cursor: pointer;
      text-transform: uppercase;
      font-size: 0.7rem;
      display: flex;
      align-items: center;
      justify-content: center;
      text-decoration: none;
      background: #fff;
      color: #000;
  
      &:hover {
        background: #fff;
      }
    }
  
    .yf__intro {
      padding: 4rem 0;
      position: relative;
      height: 600px;
      display: flex;
      flex-direction: column;
      align-items: center;
      background: linear-gradient(180deg, #1f1f1f 0%, #000000 100%);
  
      img {
        margin: 3rem 0;
      }
  
      p {
        color: rgba(255, 255, 255, 0.8);
        margin: 1.5rem 0;
        line-height: 25px;
  
        width: 930px;
        text-align: center;
      }
  
      &.dashboard {
        height: 85.59vh;
      }
    }
  }
  
  .container {
    width: 1192px;
    margin: 0 auto;
    padding: 1rem 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  @font-face {
    font-family: "Rubik One";
    src: url("../public/fonts/RubikOne-Regular.woff2") format("woff2"),
      url("../public/fonts/RubikOne-Regular.woff") format("woff");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
  }
  
  .yf__what-line-sm-blue {
    position: absolute;
    width: 129.03px;
    height: 0px;
    left: 705px;
    top: 575px;
    border-radius: 13px;
    border: 7px solid #04a8ff;
    transform: rotate(19.74deg);
    left: -4rem;
    right: 0;
    margin: 0 auto;
    background: #04a8ff;
  }
  
  ::selection {
    background-color: #000;
    color: #ff2193;
  }
  
  .yf__footer {
    background: #000;
  
    p {
      font-weight: bold;
      font-size: 0.75em;
      text-transform: uppercase;
    }
    .yf__social-icons {
      .yf__social-list {
        list-style: none;
        display: flex;
        align-items: center;
  
        li {
          padding: 0 0.5rem;
        }
      }
    }
  }
  
  .yf__how-system-glass {
    padding: 3rem 5rem;
    width: 1068px;
    height: 1037px;
    background: rgba(255, 255, 255, 0.03);
    // box-shadow: inset 0px 0px 68px rgba(255, 255, 255, 0.05),
    //   inset 0px 4px 4px rgba(255, 255, 255, 0.15);
    backdrop-filter: blur(86px);
    -webkit-backdrop-filter: blur(86px);
    -moz-backdrop-filter: blur(86px);
    border-radius: 62px;
    margin: 0 auto;
    z-index: 1;
    .yf__how-system-bottom {
      .button {
        margin: 0 auto;
      }
    }
  
    .yf__dashboard-header {
      font-size: 3rem;
      text-align: center;
      text-transform: uppercase;
      font-family: "Rubik One";
      font-weight: 100;
  
      &::after {
        content: "";
        display: block;
        height: 4px;
        width: 87px;
        background: #04a8ff;
        margin: 0 auto;
      }
    }
  }
  
  .yf__intro {
    .container {
      flex-direction: column;
    }
  }
  
  .yf__how-diagonal-large {
    position: absolute;
    width: 1176.81px;
    height: 1px;
  
    transform: rotate(-9deg);
    z-index: 1;
    border-radius: 13px;
  
    &.blue-1 {
      left: 237.52px;
      top: 312.32px;
      top: 11rem;
      border: 6px solid #04a8ff;
      background: #04a8ff;
    }
  
    &.pink-1 {
      left: 237.67px;
      top: 483.68px;
      border: 6px solid #ff2192;
      transform: rotate(9deg);
    }
  }
  
  @media (max-width: 1024px) {
    .yf__main {
      .yf__top-header {
        position: initial !important;
      }
      .yf__intro {
        height: initial !important;
      }
      .container {
        width: 100% !important;
      }
    }
  
    .yf__how-diagonal-large {
      width: 100% !important;
      left: 0 !important;
    }
  }
  
  @media (max-width: 768px) {
    .yf__main {
      .yf__top-header {
        position: initial !important;
      }
      .yf__intro {
        height: initial !important;
      }
      .container {
        width: 100% !important;
      }
    }
  
    .yf__how-diagonal-large {
      width: 100% !important;
      left: 0 !important;
    }

    .dashboard {
        .yf__how-system-glass {
          width: 100%;
          border-radius: 0;
          padding: 4rem 1rem;
          height: 100vh;
          .yf__dashboard-header {
            font-size: 2rem;
          }
          .yf__presale-form {
            padding: 0;
            width: 100%;
    
            .row {
              .col {
                .box {
                  padding: 0.5rem 1rem;
                  border-radius: 0;
                }
              }
            }
          }
        }
      }
  }
  
  @media (max-width: 545px) {
    .yf__intro {
      height: initial !important;
      p {
        width: 100% !important;
      }
      .yf__what-line-sm-blue {
        top: 45.8rem;
      }
    }
    .container {
      padding: 0 1rem;
      width: 100%;
      justify-content: space-between;
    }
  
    .yf__footer {
      padding: 1rem 0;
    }
  }
  
  .yf__presale-form {
    margin: 0 auto;
    padding: 1rem 2rem;
    width: 560px;
  
    .row {
      display: flex;
      margin: 1rem 0;
  
      .col {
        margin: 0 1rem;
        width: 100%;
  
        .box {
          padding: 0.5rem 3rem;
          border: solid 1px;
          border-radius: 4px;
          text-align: center;
        }
      }
    }
  }
  