* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Roboto", sans-serif;
  color: #fff;
}

#root {
  height: 100vh;

  .yf__top-header {
    height: 72px;
    background: #000;
    display: flex;
    align-items: center;
    position: fixed;
    width: 100%;
    z-index: 2;

    .yf__top-nav-list {
      display: flex;
      list-style: none;
      li {
        padding: 0 1rem;
        a {
          color: #333;
          text-decoration: none;
          font-size: 15px;
          transition: 0.12s ease-in-out;

          display: inline-block;
          position: relative;

          &::after {
            background: none repeat scroll 0 0 transparent;
            bottom: 0;
            content: "";
            display: block;
            height: 2px;
            left: 50%;
            position: absolute;
            transition: width 0.3s ease 0s, left 0.3s ease 0s;
            width: 0;
          }

          &:hover {
            color: #fff;

            &::after {
              content: "";
              display: block;
              border-bottom: solid 2px #ff2193;

              width: 100%;
              left: 0;
            }
          }
        }
      }
    }
  }
  .button {
    width: 120px;
    height: 35px;
    border-radius: 4px;
    border: none;
    font-weight: bold;
    transition: 0.12s ease-in-out;
    cursor: pointer;
    text-transform: uppercase;
    font-size: 0.7rem;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    background: #fff;
    color: #000;

    &:hover {
      background: #fff;
    }
  }
  // .yf__nav-button {

  // }

  .yf__intro {
    padding: 4rem 0;
    position: relative;
    height: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: linear-gradient(180deg, #1f1f1f 0%, #000000 100%);

    img {
      margin: 3rem 0;
    }

    p {
      color: rgba(255, 255, 255, 0.8);
      margin: 1.5rem 0;
      line-height: 25px;

      width: 930px;
      text-align: center;
    }

    .yf__what-heading {
      color: #fff;
      font-family: "Rubik One";
      font-weight: 100;
      line-height: 40px;
      font-size: 46px;
      text-align: center;
    }
  }
  .yf__what {
    height: 613px;
    background: #000;
    padding: 3rem 0;

    .yf__what-txt-colored-pink {
      color: #ff1a8f;
    }

    h1 {
      font-size: 54px;
      font-family: "Rubik One";
      margin: 1rem 0;
      font-weight: 100;
    }

    .yf__what-left {
      width: 500px;
    }

    .yf__what-left h1::after {
      content: "";
      display: block;
      height: 4px;
      width: 87px;
      background: #0baaff;
    }

    ul {
      margin: 0 0 1.5rem 0;
      list-style-type: none;
      line-height: 28px;
    }

    li::before {
      content: "•";
      color: #04a8ff;
      display: inline-block;
      width: 1em;
      margin-left: -1em;
    }
  }
}

.container {
  width: 1192px;
  margin: 0 auto;
  padding: 1rem 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@font-face {
  font-family: "Rubik One";
  src: url("../public/fonts/RubikOne-Regular.woff2") format("woff2"),
    url("../public/fonts/RubikOne-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

.yf__what-glass-btn {
  background: rgba(255, 255, 255, 0.03);
  /* glass_big */
  width: 131px;
  height: 45px;
  color: #fff;
  // box-shadow: inset 0px 0px 68px rgba(255, 255, 255, 0.05),
  //   inset 0px 4px 4px rgba(255, 255, 255, 0.15);
  backdrop-filter: blur(86px);
  /* Note: backdrop-filter has minimal browser support */
  position: absolute;
  bottom: 0rem;
  z-index: 1;
  border-radius: 9px;
  outline: none;
  border: none;
  cursor: pointer;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
}

.yf__what-line-sm-blue {
  position: absolute;
  width: 129.03px;
  height: 0px;
  left: 705px;
  top: 575px;
  border-radius: 13px;
  border: 7px solid #04a8ff;
  transform: rotate(19.74deg);
  left: -4rem;
  right: 0;
  margin: 0 auto;
  background: #04a8ff;
}

::selection {
  background-color: #000;
  color: #ff2193;
}

.yf__footer {
  background: #000;

  p {
    font-weight: bold;
    font-size: 0.75em;
    text-transform: uppercase;
  }
  .yf__social-icons {
    .yf__social-list {
      list-style: none;
      display: flex;
      align-items: center;

      li {
        padding: 0 0.5rem;
      }
    }
  }
}

.yf__how-system-glass {
  padding: 3rem 5rem;
  width: 1068px;
  height: 1037px;
  background: rgba(255, 255, 255, 0.03);
  // box-shadow: inset 0px 0px 68px rgba(255, 255, 255, 0.05),
  //   inset 0px 4px 4px rgba(255, 255, 255, 0.15);
  backdrop-filter: blur(86px);
  border-radius: 62px;
  margin: 0 auto;
  z-index: 1;
  .yf__how-system-bottom {
    .button {
      margin: 0 auto;
    }
  }
}

.yf__how {
  background: #000;
  position: relative;
  padding: 3rem 0;

  .yf__how-header-colored-blue {
    color: #04a8ff;
    text-transform: uppercase;
  }

  h1 {
    font-size: 54px;
    font-family: "Rubik One";
    font-weight: 100;
    text-align: center;

    &::after {
      content: "";
      display: block;
      height: 4px;
      width: 87px;
      background: #ff2795;
      margin: 0 auto;
    }
  }
}

.yf__intro {
  .container {
    flex-direction: column;
  }
}

.yf__how-system-number {
  background: rgb(255, 255, 255);
  width: 30px;
  height: 30px;
  padding: 16px;
  border-radius: 100%;
  color: #000;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Rubik One";
  font-weight: 100;
}

.yf__how-system-row {
  // width: 600px;
  display: flex;
  align-items: center;
  margin: 1rem 0;

  .yf__how-system-row-right {
    padding: 0 5rem;
    width: 100%;

    &.right {
      text-align: right;
    }
  }

  h2 {
    font-size: 15px;
    margin: 1rem 0;
  }

  p {
    font-size: 14px;
    color: #dcdcdc;
    line-height: 24px;
  }

  .pink {
    color: #ff2795;
  }
  .blue {
    color: #04a8ff;
  }
}

.yf__how-diagonal-large {
  position: absolute;
  width: 1176.81px;
  height: 1px;

  transform: rotate(-9deg);
  z-index: 1;
  border-radius: 13px;

  &.blue-1 {
    left: 237.52px;
    top: 312.32px;
    top: 11rem;
    border: 6px solid #04a8ff;
    background: #04a8ff;
  }

  &.blue-2 {
    left: 237.52px;
    top: 51rem;
    border: 6px solid #04a8ff;
    background: #04a8ff;
  }

  &.pink-1 {
    left: 237.67px;
    top: 483.68px;
    border: 6px solid #ff2192;
    transform: rotate(9deg);
  }
}

.yf__why {
  height: 920px;
  padding: 3rem 0px;
  background: linear-gradient(180deg, #1f1f1f 0%, #000000 100%);

  .container {
    flex-direction: column;

    p {
      text-align: center;
      line-height: 26px;
    }
  }

  h1 {
    font-family: "Rubik One";
    font-weight: 100;
    font-size: 54px;
    margin: 1.3rem auto;

    &::after {
      content: "";
      display: block;
      height: 4px;
      width: 87px;
      background: #0baaff;
      margin: 0 auto;
    }
  }
  h2 {
    font-size: 14px;
    color: #0aaaff;
    margin: 1rem 0;
  }

  .yf__what-txt-colored-pink {
    color: #ff1a8f;
  }

  .yf__why-bottom {
    .yf__why-bottom-col-1,
    .yf__why-bottom-col-2,
    .yf__why-bottom-col-3 {
      margin: 0 0 3rem 0;
    }
  }

  .yf__why-bottom,
  .yf__usecases-col {
    display: grid;
    grid-template-columns: 2fr 2fr 2fr;
    grid-gap: 5rem;
    margin: 7rem 0;
    text-align: center;

    p {
      text-align: left;
      line-height: 28px;
    }
  }
}

@media (max-width: 1024px) {
  .yf__main {
    .yf__top-header {
      position: initial !important;
    }
    .yf__intro {
      height: initial !important;
    }
    .container {
      width: 100% !important;
    }
  }

  .yf__how {
    .yf__how-system-glass {
      box-shadow: none;
      border-radius: 0;
    }
  }

  .yf__how-diagonal-large {
    width: 100% !important;
    left: 0 !important;
  }
}

@media (max-width: 768px) {
  .yf__main {
    .yf__top-header {
      position: initial !important;
    }
    .yf__intro {
      height: initial !important;
    }
    .container {
      width: 100% !important;
    }
  }

  .yf__how {
    .yf__how-system-glass {
      box-shadow: none;
      border-radius: 0;
    }
  }

  .yf__how-diagonal-large {
    width: 100% !important;
    left: 0 !important;
  }
}

@media (max-width: 545px) {
  .yf__intro {
    height: initial !important;
    p {
      width: 100% !important;
    }
    .yf__what-heading {
      font-size: 34px !important;
    }
    .yf__what-line-sm-blue {
      top: 45.8rem;
    }
  }
  .container {
    padding: 0 1rem;
    width: 100%;
    justify-content: space-between;
  }
  .yf__top-nav-list {
    display: none !important;
  }

  .yf__what {
    height: initial !important;

    .yf__what-left {
      width: 100% !important;
    }

    .container {
      display: initial;
    }
  }

  .yf__how {
    .yf__how-diagonal-large {
      left: 0;
      width: 100%;
    }
    .yf__how-system-row-right {
      padding: 0 1rem;
    }
    .yf__how-system-glass {
      box-shadow: none;
      border-radius: 0;
      padding: 3rem 2rem;
      width: 100%;
      height: initial;
      h1 {
        font-size: 37px;
      }
    }
    .yf__how-system-bottom {
      .button {
        width: 100% !important;
      }
    }
  }
  .yf__why {
    height: initial;

    h1 {
      font-size: 40px;
    }
    p {
      text-align: left !important;
    }

    .yf__why-bottom {
      display: initial;
    }
  }
  .yf__tokenomics {
    .yf__tokenomics-2col {
      display: initial !important;

      li {
        font-size: 1.7rem;
      }
      .yf__tokenomics-col-left {
        text-align: center;
      }

      .yf__tokenomics-col-right {
        padding: 2rem 0rem !important;
      }
    }
  }

  .yf__usecases {
    height: initial !important;

    .yf__usecases-bottom {
      display: initial !important;
    }
  }

  .yf__footer {
    padding: 1rem 0;
  }

  .yf__footer-large {
    .logo-footer {
      width: 100px;
    }
  }
}

.yf__tokenomics {
  background: #000;
  padding: 3rem 0;
  .container {
    flex-direction: column;
  }

  .yf__tokenomics-2col {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    padding: 3rem 0;

    ul {
      list-style: none;
      line-height: 50px;
      color: #ff2795;

      li {
        display: flex;
      }
    }

    .yf__tokenomics-col-right-list-perc {
      font-family: "Rubik one";
      font-size: 34px;
      color: #fff;
      padding: 0 1rem;
    }
    .yf__tokenomics-col-right {
      padding: 1px 3rem;
    }
  }
  h1 {
    font-family: "Rubik One";
    font-size: 3.4rem;
    font-weight: 100;

    &::after {
      content: "";
      display: block;
      height: 4px;
      width: 87px;
      background: #ff2795;
      margin: 0 auto;
    }
  }
}

.yf__usecases {
  height: 620px;
  background: #000;
  padding: 3rem 0;

  p {
    text-align: center;
    line-height: 28px;
  }

  .container {
    flex-direction: column;
  }

  h1 {
    font-family: "Rubik One";
    font-size: 3.4rem;
    font-weight: 100;
    margin: 1.4rem 0;

    &::after {
      content: "";
      display: block;
      height: 4px;
      width: 87px;
      background: #0baaff;
      margin: 0 auto;
    }
  }
}
.yf__usecases-bottom {
  display: grid;
  grid-template-columns: 2fr 2fr 2fr;
  grid-gap: 4rem;
  margin: 2rem 0;

  h2 {
    color: #ff2795;
    font-size: 15px;
    margin: 1rem 0;
  }

  p {
    text-align: left;
  }
}

.yf__footer-large {
  background: #1f1f1f;
  height: 297px;
  display: flex;

  .yf__footer-large-list {
    display: flex;
    justify-content: space-evenly;
    margin: 3rem 0;
    h3 {
      color: #0aaaff;
      text-transform: uppercase;
      font-weight: 100;
      font-size: 0.8rem;
    }
    ul {
      list-style: none;
      margin: 0 3rem 0 0;
      line-height: 28px;

      li {
        a {
          text-decoration: none;
          color: rgb(105, 105, 105);

          // &:hover {
          //   color: #fff;
          // }
        }
      }
    }
  }
}

.link {
  color: #ff2795;
  outline: 0;
  border-bottom: 1px solid transparent;
  transition: color 0.2s ease-out, border-bottom-color 0.2s ease-out;

  &:hover {
    color: #ff2795;
    border-bottom: 1px solid #ff2795;
  }
}

.current {
  color: #fff !important;

  &::after {
    content: "";
    display: block;
    border-bottom: solid 2px #ff2193;

    width: 100% !important;
    left: 0 !important;
  }
}
